<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CadeteriaWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CadeteriaWeb.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/c2f9e9bab7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom mb-3 navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand link-header" asp-area="" asp-controller="Usuarios" asp-action="Index">CadeteriaWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="color:white;">
                        @if (Context.Session.GetInt32("Rol") == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link link-header" asp-area="" asp-controller="Cadete" asp-action="Listar">Cadetes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-header" asp-area="" asp-controller="Cliente" asp-action="Listar">Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link-header" asp-area="" asp-controller="Pedidos" asp-action="Listar">Pedidos</a>
                            </li>
                        }
                        @if (Context.Session.GetInt32("Rol") == 2)
                        {
                            <li class="nav-item">
                                <a class="nav-link link-header" asp-area="" asp-controller="Pedidos" asp-action="Listar">Mis pedidos</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        @if (Context.Session.GetInt32("Rol") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link d-inline-block link-header" asp-area="" asp-controller="Usuarios" asp-action="LogOut">Salir de @Context.Session.GetString("Usuario")</a>
                                <i class="fa-solid fa-right-from-bracket d-inline-block"></i>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-custom" style="background-color:#FFF8E7;">
        <div class="container">
            &copy; 2023 - CadeteriaWeb
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
