@model CadeteriaWeb.ViewModels.ErrorViewModel;
@{
    ViewData["Title"] = "Error";
    var mensajeDeError = ViewBag.mensaje;
}
<div class="col-md-10 position-absolute top-50 start-50 translate-middle">
    <div class="text-center mb-5">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">Ocurrió un error al procesar su petición.</h2>
    </div>
    <div class="alert alert-danger text-center mt-5">
        <h3>Un poco de información extra:</h3>
        <p>
            @mensajeDeError Contáctese con un administrador para más información.
        </p>
    </div>
</div>
