<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance%22%3E"
	  autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/internal-nlog-AspNetCore.txt">
	<extension>
		<add assembly="NLog.Web.AspNetCore"></add>
	</extension>
	<targets>
		<target name="console" xsi:type="Console" />
		<target name="file" xsi:type="File" fileName="${basedir}/log.txt" />
	</targets>
	<rules>
		<logger name="Microsoft.*" maxlevel="Error" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Error" final="true" />
		<logger name="*" levels="Info,Debug,Error" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="console" />
	</rules>
</nlog>